
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{  
    font-family: Geologica;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-color: #FBFFE2;
    font-family:Georgia;
 }

/*nav-bar*/

header{  
    max-width: 100%;

}
.header-img{
    height: 25vh;
    max-width: 100%;
    margin:0;
    padding: 0;
    background-image: url("/static/img/header1.png");
    background-size: cover;
}
#navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
display: flex;
justify-content: center;
align-items: center;
gap: 80px;


}

.menu a, li{
    color:black;
    text-decoration: none;
}
.logo{
    width: 100px;
}

/* menu-mobile ---------------------- */

#mobile-btn{
    display: none;
}

@media(max-width: 600px){
    #mobile-btn{
        display:block;
    }

    .menu{
        display: none;
        position: absolute;
        top: 300px;
        width: 100%;
        left:0;
        padding-bottom: 40px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      
        display: block;
    }
    
    
    #navigation{
        justify-content: space-between;
    }

    #navigation.active .menu{
        display: flex;
    }

    .main-container{
        margin-top: 300px;
    }
    .main-h1{
        font-size: 60px;
    }
    .main-img{
        display: none;
    }
}

/* main */

.main-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 5%;
    margin-bottom:10%;
    
}

.main-h1{
    font-size: 110px;
    color: #B2A4FF;
    font-family: inter;
    -webkit-filter: drop-shadow(1px 1px 1px #858585);
    filter: drop-shadow(1px 4px 3px #5f5f5f);

    letter-spacing: 1px;
}
.main-text{
  max-width: 80%;
  
}
.main-p{
    font-size: 40px;
    margin-bottom: 70px;
    
}

.main-img{
   width: 100%; 
}
.main-imagem{
    margin-top: 180px;
    max-width: 1300px;
    
}

.main-btn{
    border:none;
    width: 50%;
    background-color: #92FF6C;
    padding: 5%;
    border-radius: 50px;
    font-size: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color:white;
    font-size: 30px;
    font-family: inter;
}


/* separador */
.separador{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-separador{
    width: 50%;
 
}


/*footer */
.footer-img{
        height: 25vh;
        width: 100%;
        background-image: url("/static/img/header2.png");
        background-size: cover;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap:2%;
}


/* PÃGINA DE PRODUTOS ---------------- */

.produtos-flex{
    max-width: 100%;
   justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.produtos-flex>.card-img{
    flex:1 1;  
}

.card-item{
    width: 300px;
    height: 50vh;
    border-radius: 30px;
    box-shadow: rgba(78, 26, 56, 0.25) 0px 6px 12px -2px, rgba(114, 26, 77, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.card-img{
    max-width: 50%;
    border: 1px solid black;
    margin-top:30px;
    border-radius: 300px;
    
}