*{  
    text-decoration: none;
    list-style-type: none;
}
body{
    margin:0;
    padding: 0;
   
    box-sizing: border-box;
    background-color: #FBFFE2;
    font-family:Georgia;
}

/*nav-bar*/

.cabeçalho nav{

   position: absolute;
    width: 100%;

}

img{
    width: 100%;
}

nav{
   
  
    transition:all .50s ease;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    
  
 
}
nav ul{
    position: relative;
    display:flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-around;
    gap: 3rem;
 
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:#333;
 
}

nav .calogin{
position:relative;
display: flex;
align-items: center;

}

.btn-cl{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #B2A4FF;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 2px 3px #333;
    
}


.logo{
    width: 100px;
}

/* fim nav-bar */

















/* responsividade */
@media only screen and (max-width: 700px) {  img {    width: 200%;  }}
@media only screen and (max-width: 480px) {  img {    width: 0%;  }}