
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{  
    font-family: Geologica;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


body{
    
    margin:0;
    padding: 0;
    background-color: #FBFFE2;
    font-family:Georgia;
 }

/*nav-bar*/

header{  
    width: 2400px;
    max-width: 100%;

}
header .header-img{
    height: 25vh;
    width: 2400px;
    max-width: 100%;
    margin:0;
    padding: 0;
    background-image: url("/static/img/header1.png");
    background-size: cover;
}
#navigation {
    width: 2400px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

}

#navigation .menu {
max-width: 100%;

display: flex;
justify-content: center;
align-items: center;
gap: 3rem;


}

#navigation .menu a, li{
    color:black;
    text-decoration: none;
}

#navigation .box-search{
   
    display: flex;
}

 .search-btn{
    position: absolute;
    border:none;
    margin-top: 7px;
    margin-left: 4px;
    background: transparent;
    
}
.input-search{
   
    border:2px solid #FFB3D1;
    border-radius: 40px;
    padding: 5px;
    width: 200px;
    outline: none;

}


.logo{
    width: 100px;
}

/* menu-mobile ---------------------- */

#mobilebtn{
    display: none;
}

@media(max-width: 880px){

    body{
        max-width: 100%;
    }
    #mobilebtn{
        display:block;
        border:none;
        background-color: transparent;
    }


    #navigation .menu{
        display: block;
        position: absolute;
        top: 400px;
        width: 100%;
        height: 0;
        z-index: 1000;
        left:0;
        padding-bottom: 40px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: .5s;
        padding: 10px 20px;
        background-color: #FBFFE2;
        visibility: hidden;
        overflow-y: hidden;
       
    }
    
    #navigation .menu li {
       font-size: 30px;
        margin: 6px 0;
        padding: 20px;
    }
    
    #navigation input{
       width: 300px;
       padding: 10px;
    }
    
    #navigation{
        max-width: 100%;
        justify-content: space-between;
    }
    #navigation.active .menu{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }
   
    .main-container{
        margin-top: 100px;
        max-width: 70% !important;
    }
  
    .main-h1{
        font-size: 80px !important;
    }
    .main-p{
        text-align: start;
       margin-right: 30px;
    }
    .main-imagem, .main-img{
        display: none !important;
    }

    /*produtos */

    
.produtos-flex{
    width: 400px !important;
}
  
}

@media(max-width: 1200px){
    .produtos-flex{
        width: 800px !important;
    }
}

/* main */

.main-container{
    max-width: 100%;
  
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom:10%;
    
}

.main-container .main-h1{
    font-size: 100px;
    color: #B2A4FF;
    font-family: inter;
    -webkit-filter: drop-shadow(1px 1px 1px #a1a1a1);
    filter: drop-shadow(1px 4px 3px #7e7e7e);
    letter-spacing: 1px;
}
.main-p{
    font-size: 30px;
    margin-bottom: 70px;  
}
.main-container .main-img{
   max-width: 100%; 
   display: flex;
   justify-content: flex-end;
}
 .main-imagem{
    display: flex;
    align-items: center;
    margin-top: 50px;
    max-width:  600px;
    
}

.main-container .main-btn{
    border:none;
    width: 70%;
    background-color: #92FF6C;
    padding: 5%;
    border-radius: 50px;
    font-size: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color:white;
    font-size: 30px;
    font-family: inter;
}


/* separador */
.separador{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-separador{
    width: 50%;
 
}

/* carrossel */
.carrossel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkmais{
    display: flex;
    justify-content: center;
    text-decoration:underline;
    font-size: 20px;
    color:#FFB3D1;
    margin-bottom: 70px;
}
/*footer */
.footer-img{
        height: 25vh;
        width: 100%;
        background-image: url("/static/img/header2.png");
        background-size: cover;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap:2%;
}


/* PÃGINA DE PRODUTOS ---------------- */

 .nome-secao{
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    gap:2em;
}

.title-secao{
    display: flex;
    align-items: center;
    color:#B2A4FF;
    font-size: 50px;
    font-family: inter;
    -webkit-filter: drop-shadow(1px 1px 1px #a1a1a1);
    filter: drop-shadow(1px 2px 2px #7e7e7e);
}

.box-red {
   
    background-color:#92FF6C;
    padding: 10px;
    width: 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    color:white;
}
.produtos-flex{
    max-width: 1180px;
    width: 100%;
   margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.produtos-flex>.card-img{
    flex:1 1;  
}

.card-item{
    width: 350px;
    border-radius: 30px;
    box-shadow: rgba(78, 26, 56, 0.25) 0px 6px 12px -2px, rgba(114, 26, 77, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}
.card-title{
    font-weight: 600;
    color:#FFB3D1;
    font-family: inter;
}
.card-img{
    max-width: 40%;
    border: 1px solid black;
    margin-top:30px;
    border-radius: 300px;  
}

.flex-categorias{
    display:flex;
    justify-content: space-around;

}