<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space studio</title>
    <link rel="stylesheet" href="\static\css\style2.css">
</head>
<body>
    <header>
        <img src="\static\img\header2.png" alt="">
    </header>

    <nav>
        <div>
            <ul>
                <li>
                    <img src="\static\img\spacestudiologo.png" alt="">
                </li>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">SOBRE NÓS</a>
                </li>
                <li>
                    <a href="#">PRODUTOS</a>
                </li>
                <li>
                    <a href="#">CADASTRO</a>
                </li>
                <li>
                    <a href="#">LOGIN</a>
                </li>
                <li>
                    <a href="#">ENCOMENDAR</a>
                </li>
                <form class="forms-pesquisa" role="text">
                    <input class="box" type="text" aria-label="text">
                </form>
            </ul>
        </div>
    </nav>

    <main>
        
        <section class="main-section">
            <div class="img-produto">
                <img src="\static\img\produtos-artesanais-produtos-artesanais-unicos.jpg" alt="">
            </div>
            <div class="section-grid">
                <div class="box1">
                    <h1>BOLSA ARTESANAL</h1>
                </div>
                <div class="box2">
                    <p>ARTESANAL</p>
                </div>
                <div class="box3">
                    <p>
                        Produtos feitos a mão.
                        Matéria prima natural,com acabamentos diversos.
                        vários estilos e cores produtos únicos,com muito estilo.
                        Outros produtos em madeira e alumínio.
                        Ótimo pra decoraçãoe uso doméstico.
                    
                        Altura: 0.40 cm
                        Largura: 0.30 cm
                        Peso: 40 g
                    </p>
                </div>
                <div class="box4">
                    <p>R$ 108,00</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p>
                        <a href="#">ADCIONAR AO CARRINHO</a>
                    </p>
                </div>
            </div>

        </section>
        <section class="sub-section">
            <h1>OUTROS PRODUTOS</h1>
            <div class="organizacao">
                <div class="layout">
                    <div class="box-imagem">
                        <img src="\static\img\produto-bola-cristal.jpg" alt="">
                    </div>
                    <div class="box-nome">
                        <h3>Decoração Arte Bola de Cristal</h3>
                    </div>
                    <div class="box-descricao">
                        <p>Cor: Multicolorida Material: Poliserina</p>
                    </div>
                    <div class="box-valor">
                        <p>R$ 56,90</p>
                    </div>
                </div>
                <div class="layout">
                    <div class="box-imagem">
                        <img src="\static\img\produto-bola-cristal.jpg" alt="">
                    </div>
                    <div class="box-nome">
                        <h3>Decoração Arte Bola de Cristal</h3>
                    </div>
                    <div class="box-descricao">
                        <p>Cor: Multicolorida Material: Poliserina</p>
                    </div>
                    <div class="box-valor">
                        <p>R$ 56,90</p>
                    </div>
                </div>
                <div class="layout">
                    <div class="box-imagem">
                        <img src="\static\img\produto-bola-cristal.jpg" alt="">
                    </div>
                    <div class="box-nome">
                        <h3>Decoração Arte Bola de Cristal</h3>
                    </div>
                    <div class="box-descricao">
                        <p>Cor: Multicolorida Material: Poliserina</p>
                    </div>
                    <div class="box-valor">
                        <p>R$ 56,90</p>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <footer>

    </footer>
       
</body>
</html>