<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-img"> </div>
             <nav class = "navigation">
                <div class="logotipo">
                    <img class = "logo" src="/static/img/spacestudiologo.png" alt="">
                </div>
            <ul class = "menu">
                <li class ="nav-item">HOME</li>
                <li class ="nav-item">SOBRE NÓS</li>
                <li class ="nav-item">PRODUTOS</li>
                <li class ="nav-item">LOGIN</li>
                <li class ="nav-item">CADASTRO</li>
                <li class ="nav-item">ENCOMENDAR</li>
       
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="main-container">
        
                <div class = "main-text">
                    <h1> EXPLORE</h1>
                    <p class = "main-p"> Uma variedade de artigos de artesanato feitos a mão</p>
                    <button class = "main-btn">Acesse a loja</button>
                    <a href="">Faça a sua encomenda</a>
                </div>
                <div class="main-img">
                    <img class = "main-imagem" src="/static/img/produtoshome.png" alt="">
                </div>
            </div>
        </section>
        <div class="separador">
            <img class = "main-separador"src="/static/img/enfeitu-removebg-preview.png" alt="">
        </div>

        <section>
            <div class="carrossel-container">
                <
            </div>
        </section>
    </main>
</body>
</html>